{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>06 | 松本家通信2021夏季号</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style5.css' %}">
    <link rel="icon" type="image/png" href="{% static 'main/images/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <header class="page-header wrapper1">
      <h1 class="logo"><a href="{% url 'main:essay2' %}">松本家通信2021年<span class="summer">夏季</span>号<span class="logo-line">｜</span></a></h1>
    </header>

    <div id="info" class="big-bg">
      <div class="wrapper">

      </div><!--/.wrapper-->
    </div><!--/#home-->

    <div class="about-contents wrapper">
        <div class="block-contents">
          <h2 class="page-title">現在地の因数分解（星葵衣）</h2>
          <div class="about-sentence1">
            <p>
              　ここで「現在地」を因数分解することは、事実としての松本家と私の関わりをみること、感情としての松本家と私をみること、そしてまた私自身の今と向き合うことでもある。この寄稿文という場を借りて、これまで深く向き合ってこなかった「現在地」を知り、記録したいと思う。
            </p>
            <p>
              　松本家が私にとって何らかの意味を持ち始めたのは、2020年度春のインターンだった。メンターとして葛尾村に滞在している間に極寒の地、松本家（あまりの寒さに誰かがシベリアと呼び始めたが、これほどまでにこの呼び名が相応しい場所もないと思う）に寝泊まりするようになったのが始まりである。2020春のインターンは滞在者の数が多く、ZICCAで宿直を担当するメンター以外は松本家で寝るということになっていた。もちろん当初の目的の通りただZICCAから松本家へ移動し、寒さに耐えながら小さくなって眠る日もあったが、何かしらの静かな宴が催されることもしばしばであった。私が松本家を訪れる日は偶然いつも宴が催される日だったためか、松本家に関しては寒さよりも楽しかった記憶の方が色濃い。
            </p>
            <p>
              　宴の基本コースは、焚き火・大富豪・夜食の三本立てだ。まず焚き火。借りていたハイエースに道具と薪を積んで松本家に到着、軒先の空いたスペースで火を焚く。壊れかけの椅子とよれたソファでそれを囲み、手を擦りながら寒空の下時間を過ごすのだ。あそこで食べたインスタントのコーンポタージュは、この世のものとは思えないほど美味しかった。別のときには焚いた火で手持ち花火をして、また別のときには日本酒を熱燗にしようと試みて、それから焼きマシュマロをして（今思えば2019年度夏のインターンでも松本家で焚き火をしていることに気がついた。焼きマシュマロの串をパスタで代用して、パスタを黒焦げにしたことはやけに鮮明に覚えている）、私たちの焚き火の楽しみ方は本当に様々だった。焚き火を囲みながら見る夜空も、大好きなもののひとつだ。目の前で燃える炎以外に灯りはなく、プラネタリウムよりも綺麗な星空だと思う。流星群の季節でもないのに、流れ星もたくさん降る。
            </p>
            <p>
              　焚き火が落ち着いて火が消えると、家の中へと皆が戻る。そうして始まるのが大富豪。色々な地域の人たちの集まりだからルールもバラバラで、よくわからない松本家ルールが自然に形成された。メモもしないので次来る時にはルールは忘れ去られているのだけれど。大富豪の勝負の結果で何が起こるわけではなく、ただ私たちは戦いに耽り夜を明かす。個人戦の時もペア戦の時もあるが、どちらにせよ都落ちと革命は特に盛り上がる。途中からカードがうまく混ざらなくなってきて、最強のカードの持ち主が生まれ始めるのもまた面白い。
            </p>
            <p>
              　大体三～五回戦を終えたところで時刻は日を跨いで午前二時。そしてここから〆の夜食タイムが始まる。夜食のメニューはその時その場にある食材で決まるが、私が特に気に入っているのはおにぎりだ。よくわからない時間から炊き始めたほかほかの白米、なぜか車に入っていたクレイジーソルト、最低限の調味料マヨネーズと醤油。どこからどう見ても深夜に食べるべきではない高カロリー飯で、でもこれがどうしようもなく美味しい（1度東京の自宅でも再現しようとしたけれど、あの味にはならなかった）。きっとあの場所とあの雰囲気とが相まってあの味なんだろうな。それからはまたトランプで別のゲームをしたり、疲れた人は布団に入ったり、こたつで寝落ちしたり、各々の夜更けを過ごす。
            </p>
            <p>
              　大体次の日は寝不足だけれど、それでも私はこの時間が好きだと思う。電波が届かないシベリアのような極寒の松本家で、大きな心の揺らぎがなくてもただ、静かにあたたかく「生きている」感触が沁みる。何年も前から知っている場所でもなく、何年も前から知っている友人たちでもないのに、どうしてかここは私の居場所だと思う。おこがましいだろうか。皆がどう思っているかはわからないけれど、少なくとも私にとってはそういう場所であり、そういう人たち、そういう空間だ。
            </p>
            <p>
              　なぜ私が松本家に関わりたいと思うのか、一度考えてみたことがある。そのときはうまくまとまらずに途中で放棄してしまったけれど、今日はもう少し向き合ってみたい。
            </p>
            <p>
              　簡単で最も大きな理由は、この場所が好きだからだと思う。正確にはこの場所とこの場所に集まる人たち、だ。私はそこに集まる人たちが好きで、その好きな人たちの共通項としての葛尾村、松本家が好きだ。別に松本家でなくてもいいのではないかと言われたらそれはその通りなのだが、大好きな人たちの人生が交わっている場所がそこだから、やっぱり他の場所でいいということにはならないのだろう。そういう意味では、ここに関わる理由は絶対的なものではなく、色々な偶然によって生まれたものかもしれない。
            </p>
            <p>
              　それから、松本家にいるときの私は「何者でもない」ことを咎められない。高校一年生の冬、初めて葛尾村に県教育旅行のファシリテーターとして訪れて以来、大学入学後の復興創生インターン、続く春季インターンのメンターという形で関わりを続けてきたが、そこでは必ず「何者か」でなければいけなかった。何か意志を持ち、成長や変化を期待されてそこにいなければならなかったし、やりたいことがなければそこにいることはできなかった（と私は感じていた）。もちろんそれが悪いことだと言っているのではないし、自らそれを望んで参加したものたちだ。インターンもメンターの仕事も確かに今の私を作る大きな要素であり、参加してよかったと今も心から思っている。ただ、メンターの仕事をしながら、この仕事が終わった後の私はどうやって村に関わっていくことができるのか、分からなくなってしまっていた。元を辿れば、メンターの仕事を引き受けたのも、村との関わり代をそこに見出していたからだった。当時の私にとって、村とこれからも関わりを続けるための手段は、メンターとして働くかもしくは自分でやりたいことを見つけて自ら動くかの二択しかないように思えていた。メンターとしての仕事をもう一度やる選択肢もなくはなかったが、自分にはあまり向いていない。かと言って確固としたやりたいことがあるわけでもないし、無理に「やりたいこと」を探そうと自分に強いることもしたくない。この頃から思い始めたことは、「仕事も果たすべき役割も何もなくても、ただこの好きな場所に遊びに来れたらいいのに」ということだった。はじめこそインターンという目的があって深く関わり始めた葛尾村だが、もっと色々な関わり方があってもいいじゃないかと感じていたのだ。自分も含め、関わり続けたいけれど関わり方がわからない人たちが村とゆるやかに繋がれる関わり代があったらいいな、と。だからこそ、松本家を秘密基地にしようという話が出たときには心踊った。秘密基地という言葉が持つ何らかの効果もあると思うが、何よりも、村での自分たちの居場所を自分たちの手で作り、そこで関わっていけるかもしれないということが嬉しかった。松本家計画にはいくつか目的（趣旨）があるが、私の中ではこの関わり代としての側面が大きい。
            </p>
            <p>
              　そんな松本家の中だから、私はそこで何者でなくても構わないのだ。私だけに限らず、そこを訪れる誰もがそうだ。お互いに何も求めず、ただそこで時間と場所を共有する場所でいい。松本家に関わる人が好きだから関わる、と書いたけれど、松本家がずっと今関わっている私たちだけの場所であって欲しいという思いとは少し違っている。会ったことのない過去・未来のインターン生や、縁があって葛尾村に訪れた人たち、誰にとってもそういう関わりしろとして開かれていて欲しい（全員にとって関わり続ける関わりしろであれという話でもない、言葉にして伝えるのが難しい）。
            </p>
            <p>
              　それから、不便だけれど電波も繋がって欲しくないと今はそう思っている。
            </p>
            <p>
              　そんな理由で（？）私はこれまで葛尾村・松本家と関わってきたが、これが全てなのか、これが答えなのかと聞かれたら正直確信はない。でも、今感じている「好きだから」という気持ちは決して嘘ではなく、正直な気持ちだと思うし、それが理由になってもいいじゃないかと思う。客観的に見て「ここにいる理由」にはなっていないかもしれないけれど、本心なのだから仕方がない。少し前までは、特に目的意識も成長の向上心もなく「好きだ」なんて理由でここにいるということは私にとってあまり良いことだとは思っていなかった。周りから求められている理由ではないように感じて口に出すことができなかった、と言った方がしっくりくるかもしれない。でも今は、私がどう感じているか、どう思っているのか、自分の気持ちに誠実でありたいと思う。好きな場所・好きな人たちと関わるのだから、そういう場所や人たちには正直な自分として向き合っていたい。
            </p>
            <p>
              　結局ぐだぐだと書き連ねてまとまりのない文章ができあがってしまったが、これもまた自分の思考のぐだぐださを反映しているようで不思議と違和感はない。まとまらない思考を持ったまま、私はこれからも松本家に関わり続けるだろう。また別の機会に「語る」とき、私がどう考え感じるようになっているのか楽しみだ。
            </p>
            <p class="return-index"><a href="{% url 'main:essay2' %}">目次に戻る</a></p>
          </div>
        </div>
      </div>

    <footer>
      <div class="wrapper">
        <p><small>&copy; 2021 松本家計画</small></p>
      </div>
    </footer>

  </body>
</html>
