{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>02 | 松本家通信2021夏季号</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style5.css' %}">
    <link rel="icon" type="image/png" href="{% static 'main/images/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <header class="page-header wrapper1">
      <h1 class="logo"><a href="{% url 'main:essay2' %}">松本家通信2021年<span class="summer">夏季</span>号<span class="logo-line">｜</span></a></h1>
    </header>

    <div id="info" class="big-bg">
      <div class="wrapper">

      </div><!--/.wrapper-->
    </div><!--/#home-->

    <div class="about-contents wrapper">
        <div class="block-contents">
          <h2 class="page-title">松本家と私と土地（石本帆乃）</h2>
          <div class="about-sentence1">
            <p>
              　松本家との出会いは約半年前に遡る。
            </p>
            <p>
              　ひょんなことから葛尾村を出入りするようになったのがちょうど1年前の夏、コロナ禍での出来事であった。度重なる自粛要請に飽き飽きしており、持て余した時間を消費したくて仕方がなかった矢先に偶然飛び込んできたものが復興創生インターンの9文字だった。きっかけは偶然が重なり合った結果で、葛尾村に対する拘りはあまり大きくなかったように思う。偶々参加した説明会で紹介されていたフィールドが葛尾村で、そしてその紹介をしてくださった方が偶々松本家の一員である松本隼也さんだった。ただそれだけと言えばそれだけだったのだろう。そんな偶然が起こしたきっかけが今まで続くとは露知らず、当時の私は人懐っこい笑みを浮かべながら葛尾村への想いを語る隼也さんを画面越しに見ながら自分との故郷への考え方の違いをぼんやりと考えていた。
            </p>
            <p>
              　私の出身は千葉県で、所謂都会と呼ばれてもおかしくないような場所である。途中で都会からやや田舎に引っ越したものの、葛尾村と比べればまだ都市部と呼べるような場所であった。福島県は幼少期から毎夏訪れるキャンプ先で、私は福島県が（というよりキャンプ先周辺が）とても好きだった。千葉で息苦しさを感じながら生きていた私にとって、文字通り空が広く終始穏やかな時間が流れているように感じる1週間あまりのひとときがいつも楽しみであった。大学進学をきっかけに、千葉からの脱出に無事成功した私が落ち着いたのが何の偶然か福島県であった。自分にとって故郷は産声をあげた先がその場所であっただけでそれ以上の意味は持たず、時間の経過と共にその存在は小さくなっていくものである。千葉出身だからという理由で、千葉で生涯生きていくつもりも就職先にするつもりもなかった。
            </p>
            <p>
              　その一方で、葛尾村で出会った多くの人は故郷に対して（或いは葛尾村という土地に対して）全く異なる価値観を持っていた。葛尾村で生まれ育ったある人は自身の幼少期の経験を懐かしそうに語り、またある人は今の葛尾村に対しての想いを語っていた。私もまた葛尾村に関わる人間として村の風景や人との関わりを楽しんでいたが、時間の短さも影響してか「葛尾村でしかできない、ここでなければならない」という思いの丈を表現できるような領域までには達していなかった。それには自分の中で故郷と同様に何処か限定した場所に拘りたくないという思いがあることが関係しているのだろう。だからこそ、私は土地（に対する考えなど）が少し苦手であった。
            </p>
            <p>
              　しかし、松本家に出会ったことで変化が生じる。
            </p>
            <p>
              　松本家—葛尾村と浪江町の境に位置する一軒家のことだ。始まりは冒頭でも述べたように、約半年前の春の出来事である。学生スタッフとして関わった復興創生インターンで宿泊場所としてお世話になった。とは言っても、スケジュールもあり松本家は寝に行くための場所だった。春先でも高原の葛尾村は寒かったために松本家はいつしかシベリアと呼ばれ、スタッフ間の共通言語として話題には事欠かなかった。松本家は家であって（私にとっての）家ではない。なぜなら、松本家の名の通り松本さんというご家族の家であるからだ。震災の影響で、そこに住まう人は居なくとも、そこに住んでいた人は今も尚時折足を運んで時間を過ごしている。文字面だけ追えば、松本家という他人の家に血の繋がりもない私という他人が出入りしているということである。さらに、出入りする人は私の他に全国各地から足を運ぶ同世代の学生と隼也さん、そして飛び入りのゲストとその時に合わせて変わるのである。なかなか不思議である。普段なら他人の家にお邪魔するということは、緊張するので極力避けたい事象である私が松本家を訪れることを楽しみにしているのである。それもまた不思議なことである。断言はできないが、そこに住まう人がいないからという理由では収まりきらないような気がしている。松本家という場所か、松本家で過ごす人たちと共に過ごす時間か、はたまたその両方は私に大きな影響を与えた。松本家で共に過ごす人はインターン中に関わったことのある人が多く、顔見知りではあり、プライベートについて話すこともあるが今まで自分と関わってきた仲の良い人たちのように多くを語ったことはない。松本家と関わる前の自分ならば、話すことすらできなかったような距離感であるはずなのに、その時間を心地がいいとさえ感じている。松本家に集まり、そこで起きた出来事に感動し、面白がり、時に一緒に考える。焚き火をぼーっと見つめながら取り留めのない話に花を咲かせ、BBQをしながら椎茸の美味しい焼き方に苦戦し、去り際には全員で掃除に取り組み、玄関先で「またね」と言って別れる。旅行ともシェアハウスとも違うこの時間が私は好きなのだ。
            </p>
            <p>
              　松本家から一歩足を踏み出すとそこは葛尾村で（松本家ももちろん葛尾村に位置するのだが。）あるのに、自分の中で松本家は松本家という場所で、土地で、葛尾村とは少し違うような捉え方をしているように感じる。しかし、松本家を初めて聞く人に松本家を説明する時には「葛尾村の」が語頭に入るのである。松本家は松本家であり、葛尾村に位置する松本家であるという2種類の色を持ち合わせており、私はそれを時と場合によって表現として、認識として、使いわけているのだろう。松本家は松本家であるが、私が時間を過ごす松本家は葛尾村にしか存在しない。このことが葛尾村にしかないという一種のこだわりに通ずるのだろうか。自分の中での土地というワードは未だ消化不良案件ではあるが、松本家と関わったことで少し動き出したように感じている。ただ、土地という課題を早急に解決したい訳ではないため、今はただ松本家で過ごす時間と起こる出来事、そこに関わる人とを大切にしたいと思う。
            </p>
            <p>
              　最後に、きっかけを与えてくださった隼也さん、松本家計画を企画してくれた余田くんと千丸、原稿をまとめてくれたあおちゃんに感謝いたします。ありがとう。
            </p>
            <p class="return-index"><a href="{% url 'main:essay2' %}">目次に戻る</a></p>
          </div>
        </div>
      </div>

    <footer>
      <div class="wrapper">
        <p><small>&copy; 2021 松本家計画</small></p>
      </div>
    </footer>

  </body>
</html>
