{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>04 | 松本家通信2021夏季号</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style5.css' %}">
    <link rel="icon" type="image/png" href="{% static 'main/images/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <header class="page-header wrapper1">
      <h1 class="logo"><a href="{% url 'main:essay2' %}">松本家通信2021年<span class="summer">夏季</span>号<span class="logo-line">｜</span></a></h1>
    </header>

    <div id="info" class="big-bg">
      <div class="wrapper">

      </div><!--/.wrapper-->
    </div><!--/#home-->

    <div class="about-contents wrapper">
        <div class="block-contents">
          <h2 class="page-title">私と松本家とを結んだ不思議なご縁（成玲娜）</h2>
          <div class="about-sentence1">
            <p>
              　松本家展開催にあたり，自分が葛尾村に関わるきっかけとなった出来事を見つめ直してみました．そもそも私が松本家や葛尾村と繋がりを持つまでには多くの出会いと出来事がありました．高校生の時にはじめて福島との繋がりを持ち，被災地の学びのツアーを通じて双葉郡の様々な場所に訪れ，大学生になってからは復興創生インターンに参加し，葛尾村でプロジェクトを遂行して，今ではインターンの設計や運営にも関わらせていただいている，というこの一連の出来事が，私が松本家に関わることになったきっかけの全てです．このページでは，私が松本家や葛尾村に関わることになったこれらの一連の出来事について詳細に振り返るとともに，実際に松本家を訪れて私が感じたこと，そして今後も松本家のプロジェクトや葛尾村と関わっていきたいという前向きな想いを書き連ねていきます．
            </p>
            <p>
              　まず，私が福島に初めて訪れたのは高校1年生のときでした．｢ふくしま学宿｣というホープツーリズムの参加者として，東日本大震災の被災地の当時の状況を学ぶために，2泊3日で来訪していました．元々私自身は東京の出身で，関東を出たことがほとんどなく，福島県との関わりすらありませんでした．そんな私に福島に行くきっかけを作ってくれたのがこのホープツーリズムでした．当初，このツアーへの参加理由は，｢興味がある，現場に行ってみたい｣というただそれだけで，実際に足を運ぶ前までは，なにか自分が被災地に積極的に働きかけようとかはあまり考えていませんでした．しかし，2泊3日という短い時間の中で，震災から7年経過しても修復されないままの建物，田や畑に積み上がるフレコンバッグ，未だ故郷に帰れない人がいる事実，帰宅困難地域の風景，津波で流された遠くまで広がる土地など，自分の心に深く突き刺さるたくさんの現実が溢れていました．現場で自分の目で見て，耳で聞いて，身体で感じたことは東京に帰ってからも頭から完全に消えることはなく，このことをきっかけとして，自分は福島をもっと知りたい，何かの形で関わり続けたいと強く感じたのだろうと思います．そして，このとき福島に足を運んでいなかったら…，足を運んでいたとしても目の前に広がる現実に向き合えていなかったら，私がこうして松本家展の冊子に寄稿することはなかったなとも思います．
            </p>
            <p>
              　その後，高校の授業で，減災や防災をテーマに取り上げた探究活動を行うことを決め，高校2年生のときも同じくホープツーリズムに参加しました．これが2回目の福島への訪問です．そして，これが葛尾村と私を繋げた1番最初の出来事でもあります．あれは確かツアー2日目のお昼だったと思います．落合集会所にて，葛力創造舎の下枝さんから葛尾村の地域づくりの話を聞き，凍み餅や味噌かんぷらなどの郷土料理を食べました．たった1-2時間だったと思いますが，私にとってはツアーで訪れた場所1つ1つ，出会った人1人1人との会話が貴重なものでした．高校2年の間は災害に関する探究活動に力を注ぎ，成果をWebサイトにまとめて発信するところまでやり遂げました．
            </p>
            <p>
              　その後は一旦受験に専念する形となりましたが，幸運な偶然と出会いとが重なり続け，大学入学後に，今度は葛尾村の企業のインターン(2020夏)に参加できることになりました．インターンでは，山羊の観光牧場を経営しているかつらおファームで，山羊のミルクを使用した化粧石鹸のプロモーションについて取り組みました．この時のプロジェクトを担当してくださったのが松本家の次男である隼也さんです．隼也さんとは，高校卒業後に葛尾に訪れていた時に初めてお会いしました．そのときに｢インターンとか興味ある？葛尾ではこれまでこういったプロジェクトをやっていてね…｣と声をかけてくださったことは今でも鮮明に覚えています．この時にインターンの話をしてくれたことで，葛尾村のインターンの存在を知り，最終的には隼也さんから直接お声がけいただいてかつらおファームのインターンに参加できることになりました．このご縁には今でも感謝しています．そしてこのご縁は途切れることなく，次のインターン(2021春)の際には，かつらお胡蝶蘭合同会社のプロジェクトの学生メンターとして関わることができ，大学2年生の夏は今期インターン(2021夏)の学生コーディネーターとして葛尾村に滞在することができています．こうした，高校生のときから今に至るまでに様々な出来事と出会いがあって，葛尾村に関わり続けることができています．
            </p>
            <p>
              　この中でも，松本家に関わることになった１番の大きな出来事は，2021春のインターンでメンターとして迎えた現地滞在です．コロナ禍の影響があり，2週間ほどの滞在となりましたが，インターン生やメンターの仲間と，実際に顔を合わせて，日々仲を深められた充実した時間となりました．しかし，現地滞在するインターン生の人数が多く，コロナ対策のためには寝泊まりする場所を，村内でZICCA（葛力創造舎が運営する民泊施設）の他に確保する必要がありました．そこで，メンターが寝泊まりすることとなったのが「松本家」です．葛尾の３月の夜はとても寒く，その中でも松本家は極寒の地であったので，みんなから「シベリア」と名付けられ，メンターたちの休む愛すべき場所としての地位を確立していきました．私は，宿直としてZICCAにいることが多く，毎日寝泊まりしていたわけではありませんでしたが，メンター仲間たちから，心温まる，冬の寒さに耐え抜く「シベリア」での夜の話をよく聞いており，話から伝わってくる団らんの様子がうらやましくもありました．松本家が葛尾の「シベリア」としての新たな歴史を描くことになったのは，このインターンが始まりでした．インターンが終わってもなお，「シベリア」として名を残しつづけ，今ここで松本家展を開催しているという事実が，仲間たちにとってそこがどういった場所であったかをよく表していると思います．そして，インターンから少し月日が経った頃に，主催の余田くんが声をかけてくれたことで，松本家展に，冊子の寄稿という形で携われることになりました．自分の語りがこうして記録に残ることが，私個人にとって新鮮で興味深い経験だなと感じています．
            </p>
            <p>
              　深く考えたことはありませんが，もし，私が葛尾に関わるきっかけとなったこれまでの出来事の何かが抜けていたとしたら，私は葛尾村でこうして活動することはできていなかったと思います．でも，これらの出来事が生まれた原点が，2011年3月11日に起きた東日本大震災だということを私たちは心に刻んでおく必要があります．ホープツーリズムは，地震・津波による被害や原発事故がなければ，存在したはずもなく，そうであれば，私が福島に興味を持ち，葛尾村を知ることはなかったかもしれません．確かに，自然災害が私たちに大きな負の影響をもたらしたことは忘れてはいけませんが，それによって生まれた縁，ポジティブな側面があることも事実です．松本家からは，進入禁止のバリケードや，未だ処理されず残っている多くのフレコンバッグを目にすることができますが，この景色を抜きにして私たちがここで出会うことはなかったのかもしれないと思うと，言葉に表せない感情の入り混じった想いが，じわじわと心の中を埋め尽くしていくような感覚を覚えます．松本家には，私の知らない多くの歴史や文化が代々残されており，そこにこのようにして自分たちが関われたことや，これからも記述されていく記録の中に自分の言葉を刻めることが，改めて奇跡だと感じます．今ある松本家の姿，そこに関わる人々が繋いでいく新たな歴史を，1人の人間として今後も追って，紡いでいきたいです．
            </p>
            <p>
              　インターンの存在はもちろん，この葛尾村という場所が，自分がこれからも大切にしていきたいと思える，私にとって特別な縁を作ってくれました．葛尾村の文化，村民の皆さまの温かさに触れ続けられることに心より感謝しています．
            </p>
            <p class="return-index"><a href="{% url 'main:essay2' %}">目次に戻る</a></p>
          </div>
        </div>
      </div>

    <footer>
      <div class="wrapper">
        <p><small>&copy; 2021 松本家計画</small></p>
      </div>
    </footer>

  </body>
</html>
