{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>05 | 松本家通信2021夏季号</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style5.css' %}">
    <link rel="icon" type="image/png" href="{% static 'main/images/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <header class="page-header wrapper1">
      <h1 class="logo"><a href="{% url 'main:essay2' %}">松本家通信2021年<span class="summer">夏季</span>号<span class="logo-line">｜</span></a></h1>
    </header>

    <div id="info" class="big-bg">
      <div class="wrapper">

      </div><!--/.wrapper-->
    </div><!--/#home-->

    <div class="about-contents wrapper">
        <div class="block-contents">
          <h2 class="page-title">私の葛尾村　出会いから今日まで（檜浦大河）</h2>
          <div class="about-sentence1">
            <p>
              　こんにちは、檜浦大河です。ヒウラと読み、30人もいない珍しい苗字だそうです。広島で生まれ育ち、大学生活は京都で過ごしています。もう4年目になる大学ではお祭りの企画をしたり、下級生のサポーターをしたりと何かと活動している事の多い学生生活を送っています。そして葛尾村には大変お世話になっています。2020年は合計2か月、一年の6分の1は葛尾村に滞在していました。そして人生を大きく変える経験をたくさんさせてもらいました。今回は、そんな私と葛尾村の出会いや私の成長を、写真を起点にお話したいと思います。
            </p>
            <div class="th-photo">
              <img src="{% static 'main/images/essay/th1.jpg' %}" alt="">
            </div>
            <p>
              　ここは龍谷大学深草キャンパスです。ここでの出会いが私の人生のターニングポイントであり、こうしてこの冊子に文章を掲載していただいたことにも繋がります。2019年12月、ここで復興創生インターンの説明会が行われました。復興創生インターンとは、復興庁主催で行われる大学生向けの仕事体験の発展版のようなものです。当時大学2回生の私は、春休みは大学の外で活動してみたいと思いこの説明会に参加しました。そして、そこにいたのが松本隼也さんでした。隼也さんは葛尾村のインターンの紹介にはるばる京都まで来ていて、何やら楽しげに葛尾村とはどんな場所なのか教えてくれました。私はその話を聴いてとても興味を持ちました。葛尾村の自然、人の距離感が自分に合うと思いましたし、何より隼也さんみたいな人がいるなら安心だと思ったんです。ちょろいですね（笑）。お話の後、隼也さんに「葛尾村来たい？」と問われ、「…はい！」と答えた事を今でも覚えています。何も知らない東北の小さな村でしたが、直感的にここに行こうと決めた瞬間でした。今でもたまに隼也さんとこの時の話をしますが、本当に私にとっては運命的な出来事だったんだなと振り返ります。
            </p>
            <div class="th-photo">
              <img src="{% static 'main/images/essay/th2.jpg' %}" alt="">
            </div>
            <p>
              　こちらは見ての通り、焚火の写真です。インターンが2020年2月に始まり、そこから何度も焚火をしました。広島や京都では思い立ってもその場で焚火はできませんから、初めはとても新鮮で、今では葛尾村を思い出すものの一つです。そしてこの焚火を囲んだ経験は、今の私を形作っているようにも思っています。ちょっと暗い話になりますが、私は自分にとても自信がありませんでした。その根本原因は見た目でした。中学生の時円形脱毛症を発症し、髪の毛を失いました。前に立つのが好きだった私は、その後は影をひそめるようになりました。大学に入ってからは帽子で頭を隠しながら、もう一度表舞台に立ち始めていた時期でした。そんな時に葛尾村に来て、突然知らない人と共同生活をするわけです。仕方なく私は頭を隠すのを諦めました。そんなこんなで葛尾村での暮らしが始まっていき、焚火をする事になりました。焚火の力って不思議で、みんなの肩の力が抜けて、本心で語り合わせてくれます。皆が思い思いに自分の話をしていると、自然と抱えていた思いを口にしていました。ほぼ初めて他人に見た目の事で悩んでいると話せたんです。そしてその答えは私にとって意外なものでした。実はみんな、見せてないだけでいろんな事で悩んでいたんです。それは私からすれば気にならない事だったり、話を聞いてびっくりするような事だったりいろいろでした。皆それぞれいろんな思いがあって、悩みがあって、ここにいる。焚火を通して話し、聴いた事は、その後私が見た目の事でいちいち考えなくなっていった大切なきっかけだったように思います。
            </p>
            <div class="th-photo">
              <img src="{% static 'main/images/essay/th3.jpg' %}" alt="">
            </div>
            <p>
              　さて、こちらは宿泊させていただいていたZICCAのお風呂からの風景です。モノクロの場合は伝わりませんが、青々とした稲と夕焼けの風景をイメージしてご覧ください。私は2020年8月も葛尾村にいました。大学3年生なので将来の事を決めないといけない時期が近づき、私は大変悩んでいました。何もしないくらいならやりたい事をやろうと思い、3月にインターンでお世話になった(株)大笹農場の養鶏場でアルバイトをさせてもらう事になったんです。そんなこんなで決まった、目的もなく過ごした1ヶ月はとても刺激的でした。朝夕の畑仕事は、大変だけどとても気持ちが良かったです。村の方とのご飯はいつも楽しかったです。そして何より、アルバイトで見た職人技がかっこよかったです。私には到底真似できない技がたくさんありましたし、素敵な生き様だと思いました。この滞在では、好きだと思えるものがたくさん見つかりました。そして、葛尾村は私の好きなものがたくさんある場所だという事も分かりました。そんな事を考えながら入ったお風呂からの風景でした。
            </p>
            <div class="th-photo">
              <img src="{% static 'main/images/essay/th4.jpg' %}" alt="">
            </div>
            <p>
              　遂に松本家の登場です。2021年3月、私は松本家で寝泊まりしていました。写真は早朝、家の前にできた霜柱を撮ったものです。私は起きたばかりの朝7時に呼ばれて、目を擦りながらこの写真を撮りました。内心は1日が始まる不安でいっぱいで、写真はそれを忘れさせてくれました。2020年の春・夏に続く3度目の葛尾村滞在となったこの時の滞在は、ずっとお腹が痛むような心持ちでした。夏以降、必死に考えて決めた就職の事、葛尾村と自分はどう関わっていけるのか。今回はそれをお世話になった方々に報告するんだ、と思って葛尾村に来ていました。しかし、来てから時間が過ぎるにつれて、自分の気持ちが分からなくなっていきました。また、現実でも難しい課題に直面して、悩みばかり抱えたせいで目の前の1日を過ごす事で精一杯になっていたんです。そんな私にとって松本家は安心する場所になりました。長い1日が終わり、焚火やゲームを楽しむ時間が、何よりも有り難く感じました。Wi-Fiもないし、葛尾村の中でも離れたところにある家だけど、だからこそ私は松本家に助けられて、3度目の滞在を乗り切ることができました。
            </p>
            <div class="th-photo">
              <img src="{% static 'main/images/essay/th5.jpg' %}" alt="">
            </div>
            <p>
              　最後の写真は、葛尾村で撮った一番最初の写真です。私は最初輪に入れず、焚火を囲む人、楽器を奏でる人を、少し離れたところから見ていたんです。話は戻りますが、3度目の滞在を終えて、一つの結論に辿り着きました。今は一生かけてどうなりたいかは決められないという事です。3月に自分の未熟さ、経験の浅さを痛感しました。それならまずは、小さくても自分自身が心からやりたい事に全力で向き合ってみようと思いました。その結果、残念ですが私は葛尾村で働く選択をしませんでした。それは、自分自身の意志で決めるための選択でした。これまで村に恩返ししたい気持ちが強すぎたために葛藤してきました。しかし、私の場合その気持ちだけではすぐ折れてしまうような気がしました。そもそも私は何か葛尾村でやりたい事があるのか、今の答えはノーでした。それでも私は、これからも葛尾村を想い続けます。想い続ける事、忘れない事、これも一つの恩返しなんだと信じています。きっとこれからも、私が人生の大切な決断をする時に葛尾村を思い出すと思います。今の私は村を少し離れたところから見ているだけの人です。でもそれは、最初の頃のように入れないからではなく、大切な場所だと想い続けるという意味での「見ているだけ」の人です。
            </p>
            <p class="return-index"><a href="{% url 'main:essay2' %}">目次に戻る</a></p>
          </div>
        </div>
      </div>

    <footer>
      <div class="wrapper">
        <p><small>&copy; 2021 松本家計画</small></p>
      </div>
    </footer>

  </body>
</html>
