{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>03 | 松本家通信2021夏季号</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style5.css' %}">
    <link rel="icon" type="image/png" href="{% static 'main/images/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <header class="page-header wrapper1">
      <h1 class="logo"><a href="{% url 'main:essay2' %}">松本家通信2021年<span class="summer">夏季</span>号<span class="logo-line">｜</span></a></h1>
    </header>

    <div id="info" class="big-bg">
      <div class="wrapper">

      </div><!--/.wrapper-->
    </div><!--/#home-->

    <div class="about-contents wrapper">
        <div class="block-contents">
          <h2 class="page-title">私がなぜ葛尾村に関わるのか（柴田百合子）</h2>
          <div class="about-sentence1">
            <p>
              　なにかと葛尾村を訪れるようになってから数年がたったが、なぜ関わり続けているのか、正直自分でもよくわかっておらず、これまでもはっきりと答えられないでいた。このエッセイを書くことによって少しでも明確な理由がわかればいいなと思い執筆することにした。構成としては、これまで葛尾村に関わるようになった経緯や変遷を述べたうえで、私にとって村の何が魅力的であるのか考えていく。
            </p>
            <p>
              　葛尾村を知ったのは、高１のときだ。きっかけは「ふくしま学宿」という、’’震災後の福島をフィ―ルドに、復興の光と影の部分を実際に見てみよう’’という趣旨の福島県の復興事業プログラムに参加したからだ。教室でたまたまチラシが目に留まったのと、１万円で３日間福島にいけるのか！という軽いノリで申し込んだと思う。原発のことをよく調べて考えている福島高校の生徒さんと、大熊町、浪江町などをめぐり、東電でかつて働いていた方と対話を行ったり原発資料館にいったりした。原発に対して向き合い、ひとりひとり原発に対しての意見をもっている同世代の高校生にも衝撃を受け、千葉に帰ってからも考え続けたいと感じた。そして、このふくしま学宿の行程の一つとして葛尾村に訪れる機会があり、初めて葛力創造舎の下枝さんとお会いした。「人口が200人の村に年間３億円もの国からの補助金を出してまで存続する意味はあるのか。」というかつて議員から下枝さんに向けられた言葉について話し合った記憶がある。
            </p>
            <p>
              　このように、私が葛尾村に関わるようになったのは、ふくしま学宿で頭のしびれるような体験があったから、というのは間違いない。しかし、学宿だけが大学２年になった今に至るまで関わる理由ではないような気がする。　
            </p>
            <p>
              　次のきっかけは、田植えイベントに参加したからだと思う。人生で初めての田植えを通して、一緒に植えて、一緒にご飯を食べ、たわいもないことを語ることで生まれる「結い」という文化があることを学んだ。かつての田植えは村の人とのつながりを維持する役割も担っていた。そしてなにより、心地よい土の感触と清らかな水とともに、温かいおじいちゃんおばあちゃんの存在を知ったことが大きかった。
            </p>
            <p>
              　加えて、葛尾村はなんだか居心地がよかった。それぞれが思い思いに過ごせる。学校という場だけでは教えきれない、大人の手を離れて自分たちで計画することの楽しさや非日常、隠れ家、秘密基地、息抜きの場だった。主に学力で評価された学校に比べて、葛尾村ではもっと自分たちの得意分野をもちよってのびのびと過ごすことを許されていて、現代日本にやや足りないものをさりげなく教えてくれているような気がした。
            </p>
            <p>
              　この後も何度か田植えや稲刈りイベントに参加した。大学受験でしばらくご無沙汰していたが、のちに葛尾村での夏の復興創生インターンに参加した。余田さんから誘われたインターン生の集まりにいったとき、2020年春のインターン生が尋常でないほど仲が良く楽しそうだったので、私も参加したいと思った。もっともコロナが蔓延し始め、インターンは結局オンラインだったためメンバーと直接会うことはできなかったが。しかしインターン終了後、かつてのインターン生と一緒に松本家に行くことができたのだからよかったし、今もこうして松本展を通してつながることができるのはありがたいことだと思う。
            </p>
            <p>
              　それから、ここまで書いて気が付いたことは、大震災や原発事故がなければ葛尾村に関わる私はいないし、松本家にも行っていないということだ。そして人の温かさを知らなければ継続して関わりたいとは思わなかったし、キャンプファイヤーや満天の星を見ることがなければ興味も示さなかったかもしれない。原発で被災したこと、人の温かさがあること、ゆったりと過ごせることの３要素は、私が葛尾村に関わり続ける主な理由になるのかなと考えた。しかし、自分の中で関わり続ける明確な理由がでたわけではないなとも思う。
            </p>
            <p>
              　これらの３要素にある葛尾村は、私にとって観光地よりは近いが故郷よりは遠い場所だ。絶妙な距離感があることが私にとって居心地がいいのかもしれないと、このエッセイを書きながら思うようになった。これからも何らかの形で関わっていきたいと思っている。
            </p>
            <p class="return-index"><a href="{% url 'main:essay2' %}">目次に戻る</a></p>
          </div>
        </div>
      </div>

    <footer>
      <div class="wrapper">
        <p><small>&copy; 2021 松本家計画</small></p>
      </div>
    </footer>

  </body>
</html>
