{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>09 | 松本家通信2021夏季号</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style5.css' %}">
    <link rel="icon" type="image/png" href="{% static 'main/images/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <header class="page-header wrapper1">
      <h1 class="logo"><a href="{% url 'main:essay2' %}">松本家通信2021年<span class="summer">夏季</span>号<span class="logo-line">｜</span></a></h1>
    </header>

    <div id="info" class="big-bg">
      <div class="wrapper">

      </div><!--/.wrapper-->
    </div><!--/#home-->

    <div class="about-contents wrapper">
        <div class="block-contents">
          <h2 class="page-title">松本家の現在地（松本隼也）</h2>
          <div class="about-sentence1">
            <p>
              ―はじめに―
            </p>
            <p>
              　この度、松本家計画に始まり、今回の展示会も松本家展と題され多くの方々のご尽力によって本企画を１つの形として表現できる機会を頂けたことに感謝を申し上げます。心からありがとうございます。
            </p>
            <p>
              　私は今回の企画に関して何か特別に準備をしたわけではありませんが、松本家計画の１メンバーとして企画を見守らせていただいています。自分たちの思いや大切にしたいこと、感じていることを各々が等身大の言葉で表現されていることと思います。その熱量には毎回驚かされる日々で、今日まで一生懸命企画を練ってこられた皆さんには頭が下がる思いです。
            </p>
            <p>
              　さて、私は今回の展示会の舞台となった「松本家」に住んでいたわけですが、せっかくの機会ですし、これまできちんと考えてこなかった部分でもあるので、自分の生家を私の目線から物語ってみようと思います。キーワードは物語る、ですもんね。<br>
            </p>
            <p>
              ―私と松本家の関わり―
            </p>
            <p>
              　私と松本家の関わりは生まれてからずっと、２６年の付き合いになるかと思います。住んでいた期間は１９９４年に生まれてから２０１１年の３月１３日頃までの約１６年程でしょうか。1６年間の関わりの中で、私はここでたくさんのことを学び、成長してきました。今の私を形成しているのはこの松本家という土台があってこそであると思います。<br>
            </p>
            <p>
              ―松本家の役割の変化－
            </p>
            <p>
              　松本家がこの地にやってきたのは約８０年前、終戦間際のことだと聞き及んでいます。私の曾祖母がいわゆる疎開民としてこの地にやってきたのが最初でした。それから東日本大震災までは「暮らしの拠点」としての松本家として利用されていました。
            </p>
            <p>
              　松本家の役割が最初に変化したのは震災後、避難生活が始まってからでしょう。避難開始後すぐのころは、家に荷物を取りに行ったり、お墓参り等で訪れた際の「休憩所」としての利用が主であったと記憶をしています。
            </p>
            <p>
              　それが２０１６年の避難解除によってまた変化しました。今度は自由に出入りができるようになったので、BBQや家族のキャンプ等で少しの期間「滞在する場所」としての使い方をするようになったのです。それに加えて近年では、この松本家計画の活動にもあるように、もともと住んでいた人間以外の者たちが滞在する機会が増えました。これまで身内だけの利用であった松本家がこれまで関わりのなかったところから多くの人が訪れるようになってきたことは、ある種の「交流」の場としての機能を持ち出していると捉えることもできるのではないでしょうか。
            </p>
            <p>
              　このように振り返ってみると、松本家の役割や用途は初めてこの地に定住してから、その時代の移り変わりとともに、その時代に合わせた役割をもって今日まで在り続けたと考えられます。<br>
            </p>
            <p>
              ―これからの松本家の行方－
            </p>
            <p>
              　今、そしてこれからの松本家には、全国から学生が集まって寝泊まりをしたり、大富豪をしたり、焚火をしたり、語り合ったりするのだろう。松本家の元住人に関してもBBQやキャンプ、草刈りなどで訪れるのだろう。「暮らすため」ではないが、この地で集った者たちと同じ空間を共有するということが増えていくものと思います。
            </p>
            <p>
        　      その先に「滞在する場所」「住む場所」はたまた、「食料を得る場所」などのように、どのような役割をもって機能していくのかはわかりません。しかし、空き家になって10年が経ち、人の出入りがめっきり減った松本家、けれども様々な可能性を秘めた松本家に、その時々の必要とされる機能と役割を持たせることで、出入りする者たちにとって居心地の良い特別な場所となっていってほしいと思います。また、これまでそうあったように、時代に合わせて「カタチ」を変え、次の世代へと繋ぐことができれば大変嬉しく思います。
            </p>
            <p>
　              そしてその「カタチ」は、「今」を関わっていく者たちが、決めていくものであると思います。その選択が、発展を生むものであっても、その逆であっても、いつか役目が終わるときまで私たちはそれを記録し物語りたいと思います。存分に楽しみながら。
            </p>
            <p>
              ―松本家の記憶―
            </p>
            <p>
              どじょう
            </p>
            <p>
              田んぼ脇の堀で足を鳴らすと水の中に土煙がたった。
            </p>
            <p>
              何かが動いた。姿は見えない。けれども確かに、いる。
            </p>
            <p>
              もう一度足を鳴らす。ドン！ドン！・・・・水面が揺れる。<br>
            </p>
            <p>
              「見つけた！」
            </p>
            <p class="return-index"><a href="{% url 'main:essay2' %}">目次に戻る</a></p>
          </div>
        </div>
      </div>

    <footer>
      <div class="wrapper">
        <p><small>&copy; 2021 松本家計画</small></p>
      </div>
    </footer>

  </body>
</html>
