{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>08 | 松本家通信2021夏季号</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style5.css' %}">
    <link rel="icon" type="image/png" href="{% static 'main/images/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <header class="page-header wrapper1">
      <h1 class="logo"><a href="{% url 'main:essay2' %}">松本家通信2021年<span class="summer">夏季</span>号<span class="logo-line">｜</span></a></h1>
    </header>

    <div id="info" class="big-bg">
      <div class="wrapper">

      </div><!--/.wrapper-->
    </div><!--/#home-->

    <div class="about-contents wrapper">
        <div class="block-contents">
          <h2 class="page-title">「関係人口」として松本家にいること（余田大輝）</h2>
          <div class="about-sentence1">
            <p>
              　ある人との関係に「友達」という名前をつけたとしても、その人との関係を正確にその言葉で表すことはできないでしょう。同様に、ある地域との関係に「関係人口」という名前をつけたとしても、その地域との関係を正確にその言葉で表すことはできないと思います。「友達」という言葉も、「関係人口」という言葉も、なんとなく該当しそうな範囲をふんわりと切り取ったものではないでしょうか。無論、ここで「友達」の範囲はどこまでだろうかなんていうのは野暮な話です。しかし、「関係人口」の範囲はどこまでだろうか、あるいは、そもそも範囲なんて存在するのだろうかという話はたとえ野暮でも避けては通れないと考えます。なぜなら「関係人口」は「友達」と異なり他者によって評価されるものだからです。「私はあの人の友達である」とは言えますが、「私はあの地域の関係人口である」と言うことはないでしょう。基本的には「彼/彼女はあの地域の関係人口である」というような言い方がされるものだと思います。そのように考えると「関係人口」のあり方を規定しているのは自分自身ではないことになります。では、「あなたはあの地域の関係人口である」と言われるとき、それは何を意味しているのでしょうか。「『関係人口』として松本家にいること」は「関係人口」という言葉の意味を捉え、地域と人の関係のあり方について検討するものです。検討と言いながらも、基本的には私自身の体験と意識に基づいた内容であり、学術的な検証については卒業論文などで取り組みたいと考えています。
            </p>
            <p>
              　なぜ「関係人口」を取り上げるかというと、私が葛尾村の「関係人口」と言われるような存在だからです。ここまで説明なく「関係人口」という言葉を使ってきたので、まずは複数の文献等からその定義を確認してみましょう。はじめに、「ソトコト」編集長である指出一正氏の『ぼくらは地方で幸せを見つける』では、「関係人口とは、言葉のとおり『地域に関わってくれる人口』のこと。自分でお気に入りの地域に週末ごとに通ってくれたり、頻繁に通わなくても何らかの形でその地域を応援してくれるような人たち」と述べられています。「いくつかの地域ではそうした関係人口が目に見えて増えている」とも述べられており、実際の動きから生まれた言葉であることが分かります。また、総務省「関係人口ポータルサイト」には、「『関係人口』とは、移住した『定住人口』でもなく、観光に来た『交流人口』でもない、地域や地域の人々と多様に関わる人々のことを指します。地方圏は、人口減少・高齢化により、地域づくりの担い手不足という課題に直面していますが、地域によっては若者を中心に、変化を生み出す人材が地域に入り始めており、『関係人口』と呼ばれる地域外の人材が地域づくりの担い手となることが期待されています。」という記述があります。生まれて日が浅い言葉ですが、行政における地域政策にも組み込まれていることが分かります。このように「関係人口」という言葉は、何らかの関わり方を通じて地域に対してポジティブに影響を与えてくれる存在として定義されているようです。
            </p>
            <p>
              　自分が葛尾村に対してポジティブな影響を与えられているかは分かりませんが、地域にポジティブな影響を与えることが期待されるようなイベントやプログラムを通じて、「定住人口」でも「交流人口」でもない関わり方をしていることは確かだと思います。高校3年の春（2018年）に葛尾村を訪れて以来、約3年半にわたって私は定期的に葛尾村を訪れてきました。私は千葉県生まれ千葉県育ちなので、元々葛尾村には縁もゆかりもありませんでした。葛尾村を初めて訪れたきっかけは一般社団法人葛力創造舎が主催されている田植えイベントに参加したことです。葛力創造舎は2012年に設立された葛尾村を拠点に活動されている民間の地域づくり団体で、田植えのようなイベント運営から日本酒などの商品開発、さらには人材育成プログラムまで地域に関わる様々な取り組みをされています。田植えイベントを含む米づくりは葛尾村の全村避難指示が解除された2016年より毎年行われており、震災以前から葛尾村に住まれている方々と新たに葛尾村に関わるようになった方々がともに米づくりを行うことで、葛尾村で培われてきた文化を次世代につないでいくことを目指しているそうです。私は友人の誘いで田植えイベントに参加し、初めて葛尾村を訪問しました。その後、何度か個人的に葛尾村を訪れ、大学1年次（2019年）には、2018年に行政の支援を受けて設立された一般社団法人葛尾むらづくり公社にて1か月間のインターンシップをさせていただきました。「第1回松本家展 -現在地-」の開催にあたっても、復興交流館あぜりあを会場としてご提供いただくなど、インターンシップの1か月間に限らずお世話になっています。大学2年次（2020年）には、長期休暇などを利用して葛力創造舎が管理する民泊ZICCAに滞在しながら、様々な地域活動に参加させていただきました。このように、住民の方との交流イベントをきっかけに村に関わり、「復興」を目的としたインターンシップに参加し、継続的に地域活動に参加するようになった私は前述した「関係人口」そのものだと言えると思います。
            </p>
            <div class="th-photo">
              <img src="{% static 'main/images/essay/hy1.jpg' %}" alt="">
            </div>
            <p>
              　しかし、「関係人口」と言われることにはそこはかとない違和感がありました。はじめは「人口」という数量で評価される言葉をもとにした「関係人口」という言葉で自分個人が評価されることへの違和感だと思っていたのですが、それを抜きにしてもしっくりはきませんでした。では、なぜ違和感があったのか。それは「関係人口」という言葉が想定する地域と人の関わり方と、私が思い描く葛尾村と自分自身の関わり方に乖離があったからだと考えます。正確に言うと、「関係人口」という言葉を通じて私が想定していた地域と人の関わり方と、私がこうありたいと考える葛尾村と自分自身の関わり方に乖離があったということであり、この先で行われる「関係人口」という言葉に対する検討は現時点ではあくまで私自身の意識内の話に留まります。「『関係人口』という言葉を通じて私が想定していた地域と人の関わり方」が私自身の意識を越えたものであるか否かついてはいずれ検討したいと思います。
            </p>
            <p>
              　「関係人口」と言うときに、どのような地域と人の関係を想像するでしょうか。「応援」「ファン」「サポーター」という言葉で表されるような関係を私は想像していました。たいていの場合において、「関係人口」という言葉は、行政や地域づくり団体を窓口として地域住民ではない人たちが地域に寄与する事例を想定して使われていたからだと思います。地域、そして窓口としての行政や地域づくり団体があり、それを外から支援するという構図です。最初に「友達」という言葉と「関係人口」という言葉は似ているという話をしましたが、このように考えるとその意味合いには違いがあることがわかります。もちろん「友達」という関係においても、ある人をある人が支援するという関係はありうるでしょう。しかし、それはあくまで1つのかたちでしかなく、例えば喧嘩したとしても「友達」のままであることだってありえますし、例えば学生なら教室で顔を合わせるだけの「友達」だってありえます。一方で、「関係人口」という言葉からは、「この地域のこういうところが良くない」と地域を批判している人は想像できないし、何をしているのか誰もよくわからないけどなんか地域でよく見かける人も想像できません。少なくとも私はそのように感じます。つまり、「友達」という関係は必ずしもある人のあり方に対して他方の人が賛同している必要はなく多様な関係を包みますが、「関係人口」という関係はある地域のあり方に対してある人が賛同していることを前提としているということです。
            </p>
            <p>
              　このような「関係人口」の捉え方は、地域には内側と外側を分ける境界線が存在するという意識に基づいていると考えられます。地域の内側には「住民」がいて、地域における正しさは「住民」の意志に基づいていて、その代表または行為の代行者として行政や地域づくり団体があり、「関係人口」というのはその正しさに基づいた行為を外から支援する存在であるというような意識のことです。私は地域活動に携わる際にそのような意識を持っていたように思います。また、葛尾村に私が深く関わっていくということは、外側から内側へ境界線を越える行為だと考えていました。つまり、その地域で暮らしていない人にはその地域を語りえないので、その地域の当事者になりたいのならばその地域に根差して暮らしていくべきだし、地域への関わり方としてそれはよいことだという考え方を持っていたということです。
            </p>
            <p>
              　確かに、地域で暮らしている人たちを無視して、地域を語ることはできないし、ましてや地域活動を行うことはできないでしょう。しかし、その人は地域の内側にいるか外側にいるかというように関わり方を二分して捉える方法は適切でなかったと考えます。なぜなら境界線はあるようでないからです。地域で暮らしている人として「住民」という言葉を使いましたが、ここで言う「住民」は文字通り住民票がその市町村にある人としての住民と同じとは言えません。住民票があっても別の地域に居住しており、住民票を置いている地域とはほとんど関わりがない方もいます。では、別の地域に居住しているからといって、その地域の外側にいるかというとそうではありません。例えば、震災の影響で避難した住民の方は、確実に今でも地域の当事者でしょう。別の地域から通勤・通学をしている方などもしかりです。また、住民票をその地域に移しても必ずしも内側にいるとは言えないではないでしょうか。例えば、地域の担い手と期待されている「移住者」は「関係人口」の延長に位置する支援者という側面が強いように思います。加えて、「移住者」に限らず、新参者だから関わることができない地域の物事は多く存在するでしょう。住民票または居住地で境界線を引けないことが分かりましたが、それら以外に明確な区別をできる指標はないように思います。このように考えると、何をもって地域の内側/外側というように二分しているかは不明瞭であるし、仮に二分しているのならば、それはかなり恣意的な分け方であることが推測されます。それにも関わらず、地域に深く関わるならば、外側から内側に行かなければと考えていた私は、実体のないものを追い求めていました。そして、その意識が「関係人口」という言葉の捉え方に表れていたのだと思います。
            <p>
              　以上のことを踏まえると、特に現代において、地域というものは1つの境界線で区切られるようなものではないと考えられます。人間の集団を単純に分割することはできないというのは当たり前のことかもしれません。はるか昔から修行僧や狩猟民が越境し、地域に移り住んできた歴史だってあります。厳密な検証はできていませんが、それでも過疎問題などが出現する高度経済成長期以前は人口流動はあまり顕著でなかったし、なにより集落や自治体の境界線がはっきりしていた、あるいはさせようとしていたように思います。集落の構成員は自明に集落に住んでいる人たちであり、あの人は集落の構成員かそうではないかよくわからないなんていう事態はほとんどありえなかったのではないかと想像します。しかし、高度経済成長期以後は人口流動が激しくなり、現代においては2拠点居住などのライフスタイルも一般化してきました。なにより地域をあげて多様な関わり方を推奨するようになりました。つまり、意図して境界線を不明瞭にしていったのです。「関係人口」もその流れの中で生まれたものだと思われます。そのように考えると、「関係人口」という言葉を通じて、地域の内側/外側という分け方を想定するのは非常にナンセンスなことだと言えます。もしかすると、「関係人口」という言葉を用いている人たちの中で内外という境界線は解体されていたのかもしれませんが、私の中ではそのような意識が残っていました。
            </p>
            <div class="th-photo">
              <img src="{% static 'main/images/essay/hy2.jpg' %}" alt="">
            </div>
            <p>
              　ここまでで、「関係人口」という言葉に対する私の違和感は、境界線を解体する中で生まれたはずの「関係人口」という言葉を、境界線を前提とした地域に対するイメージ中で捉えていたことに原因があると分かってきました。では、なぜそのような理解をしていたのでしょうか。それは「語る」と「決める」を混同していたこと、地域を単一のかたまりだと捉えていたことの2つに原因があると考えます。
            </p>
            <p>
              　まず、1つ目の原因である「語る」と「決める」の混同についてです。「語る」というのは、ある物事について自分の意見を表明することです。「決める」というのは、ある選択について決断を下すことです。ここまでの話の中で、地域の内側にいる人や地域の当事者である人というような表現をしてきました。これは地域について「語ること」と「決めること」の両方をできる存在を想定していました。一方で、地域の外側にいる人については、「語ること」も「決めること」もせず、内側にいる人に賛同する場合にのみ「応援する」「支援する」人を想定していました。つまり、外側の人は内側の人を手伝うことしかできず、「語ること」「決めること」をしたいのならば内側に行かなければならないというような構図です。このように、当初の私は「内側/外側」や「当事者/非当事者」というような一面的な捉え方をしており、「語る」と「決める」の区別ができていませんでした。しかし、「語る」と「決める」は別々に存在し、内側/外側など関係なく、すべての人は語ることができると今は考えます。誰であっても、他者に危害を加えない限り、ある物事について自分の意見を表明することは妨げられないので当たり前のことと言えるかもしれません。
            </p>
            <p>
              　ただ、これはそのような意味での正しさの話には限らないと考えます。自分はその物事に関係ないから「語ること」はしないでおこうという場面は、誰しもが「語ること」ができるとしても生まれうるでしょう。そして、個人の判断に基づいて「語らないこと」はもちろん悪いことではありません。例えば、いきなり地域に来た人が頼まれてもいないのに「この地域は時代遅れだ」などと言い出すのは、仮にそう思ったとしても謙虚さに欠けると私は感じます。しかし、前述のように、地域の内側にいる人を定められない以上、「外側の人は『語る』べきでない」とするのは際限のない抑圧を生む可能性があります。誰かが語らなければ、気づかないことも多分に存在しうることを考えると、「語ること」が抑圧されるような状況はよいとは言えないでしょう。また、地域に全く関係ない人が「語ること」によって気づくこともあります。そのように考えると、ある程度のトラブルや対立を引き受けてでも、「語ること」は万人に開かれるべきではないでしょうか。他者に危害を加えない限りにおいて、不適切・不謹慎な発言というのは程度の問題であるので、それは個人の価値観の問題であり、未然に「語ること」そのものを認めないようなことはすべきではないと私は考えます。
            </p>
            <p>
              　そうとは言っても、万人が「語ること」ができるというのは、全く関係ない人でも好き勝手にできるという話ではありません。それはその物事について「決めること」ができるのは、その当事者のみだからです。当事者の範囲は定められないのではないかと前述しましたが、それは地域の当事者についての話です。個別の物事については、当事者を定めることができると考えます。当事者の範囲を個別の物事ではなく、地域で捉えていたことが、2つ目の原因である「地域を単一のかたまりだと捉えていたこと」にあたります。例えば、地域のお祭りで言うと、「参加者が好き勝手に『こう変えるべきだ』というような意見を言ったとしても、その意見を採用するかどうかの決定はそのお祭りの運営者たちによって行われるべきである。そして、このような物事のスケールであれば、その運営者たちが誰なのかはっきりしている」ということです。この場合、「定住人口」と呼ばれる人なのか、「関係人口」と呼ばれる人なのかなどと問うことなく運営者を定めることができます。
            </p>
            <p>
              　ここで言う個別の物事というのは、複数の人たちの意志によって成り立つ物事、いわば「小さな公共」です。集落、同業者組合、子育てコミュニティ、同じ食堂によく集まる人たち、週末に体育館を借りてバスケットボールをする有志の集まり、その他にもたくさん存在するであろう「小さな公共」の集合体として地域があると考えます。「小さな公共」とその集合体の分かりやすい区切りが集落や自治体の境界線と一致していたのが少し前までの時代ではないでしょうか。そして、現代はそれが大きく異なってきている時代なのではないかと思います。以上のように考えると、「関係人口」にだって「語ること」はできるし、個別の物事単位で地域における「決めること」に関わることだってできるでしょう。そうすると、「定住人口」「関係人口」「交流人口」などと分けるのも、突き詰めると程度の問題でしかないと言えます。「関係人口」をこのように捉え直すことで、境界線を前提とした地域に対するイメージが私の中で解体されていきました。
            </p>
            <div class="th-photo">
              <img src="{% static 'main/images/essay/hy3.jpg' %}" alt="">
            </div>
            <p>
              　ここまでの議論を通じて、自分の中の「関係人口」という言葉に対する違和感は地域を内外に二分する意識によるものであり、その背景には「語ること」「決めること」に対する誤った捉え方があることがわかりました。では、捉え直した「関係人口」とは具体的にどのようなものなのでしょうか。それは「松本家」と私の関係のようなものだと思います。
            </p>
            <p>
              　「松本家」と私は松本隼也さんを通じて出会いました。葛尾村に滞在している際、隼也さんに「松本家」に連れていっていただき、みんなでBBQをしたり話したり泊まったりしたのが「松本家」と私の出会いです。その後、葛尾村での仕事がなくなって、葛尾村に滞在する理由もなくなりましたが、有志で集まって「松本家」に遊びに行くようになりました。さらに、私たちが「松本家」の語り部になるというのは面白いのではないだろうかと友人たちと思い至り、松本家計画を立ち上げ、第1回松本家展を開催しました。最初に訪れたときは、家のすぐ横に除染土が詰め込まれたフレコンバックが積まれており、道路がバリケードで塞がれている風景を異様に感じた記憶があります。確かに原発事故が「松本家」に重大な影響を与えたのは紛れもない事実でしょう。それでも、「松本家」を通じて今の自分に見えるものは、原発事故だけではありません。みんなで焚き火をしたときの思い出もあれば、トシヤさんから聞いた昔話もあります。フレコンバックの下の地層を感じながら、フレコンバックの上を自分たちで生きるようになりました。そうした今、「松本家」にとって私は他人ではないでしょう。
            </p>
            <p>
              　そうとは言っても、私は葛尾村の「村民」ではありません。実家が葛尾村にあるわけでもなければ、葛尾村に家を借りたこともありません。縁もゆかりもない千葉県の生まれです。強いて言うならば、累計1年くらい、民泊ZICCAに住まわせてもらったことがある程度です。そのような私を「村民」であるとは言えないでしょう。しかし、「松本家」において私は当事者であるとは言うことができると思います。つまり、この家にいて、この家について考えて、この家の未来を作っていく存在であるということです。もちろん、ご家族の方がより「松本家」の当事者であることは確かでしょう。それでも、他の村民の方々と遜色なく、または他の村民の方々以上に、私は「松本家」の当事者であるとは言えると思います。このように、「村民」でないとしても、村の中のとある家については当事者であるというような関係が捉え直した「関係人口」のあり方だと考えます。私が葛尾村の「関係人口」であるというのは、葛尾村を応援・支援しているということではなく、葛尾村の中にある「松本家」の当事者であるということです。したがって、「関係人口」が増えていくというのは、自分は「村民」ではないけれど、村の中のとある建物やとあるイベントについては当事者である人が増えていくことだと思っています。
            </p>
            <div class="th-photo">
              <img src="{% static 'main/images/essay/hy4.jpg' %}" alt="">
            </div>
            <p>
              　また、「松本家」から生まれた松本家計画には特筆すべき特徴があります。それは「松本家」と私たちが「語ること」を通じて繋がっていることです。とある建物やとあるイベントに関わるとき、そこには「語ること」以外にも様々な目的や理由が想定されうると思います。例えば、建物であれば、「友人が住んでいるから遊びに行きたい」「歴史のある建造物だから調査したい」といったものでしょうか。イベントであれば、「内容に興味があるから参加したい」「友人が参加するから一緒に参加したい」といったものが考えられます。しかし、これらの目的・理由と「語ること」には決定的な違いがあります。それは関係性の変化に対する許容度の違いです。その建物にいる理由・そのイベントに参加する目的が明確であるとき、理由や目的が失われれば、そこにいる・そこに参加する意味も同時に失われます。もちろん、動機であったものが失われているのだから、それは当然の結果でしょう。ただ、実際にはそう単純なものではないと思います。特に地域においてはそうです。元々持っていた理由や目的が失われたとしても、「その地域に居続けたい」と思うことはありうるのではないでしょうか。
            </p>
            <p>
              　まさに私自身がそうでした。「地域づくりに携わってみたい」という思いから、この2年間、葛尾村の様々な取り組みに私は携わらせていただいていました。しかし、大学3年になり、紆余曲折を経て、「地域づくり」そのものに興味があるわけではないと考えるようになりました。そのとき、葛尾村と私を繋いでいた「地域づくりに携わってみたい」という動機が失われました。ただ、だからと言って、葛尾村と私の関係をそこで終わりにしたいわけでもありませんでした。葛尾村には何らかのかたちで関わり続けていたいけれども、今まで村と自分を繋いでいた動機は失われているという状態になったのです。そのような状態に陥ったとき、大抵は適当な理由や目的を作って関係を繋ぎ留めておくものだと思います。適当な理由や目的が簡単に見つかればいいのですが、あまり嘘をつきたくないという思いもあり、自分はなかなか見つけれられずにいました。
            </p>
            <p>
              　そうしたときに出会ったのが「松本家」でした。そして、そこから生まれたのが松本家計画です。松本家計画は「記録する、物語る。」をコンセプトにしています。あえて言うならば、「松本家を語りたい」から私は松本家にいるということになります。この「語ること」によって繋がる関係は多くのことを許容してくれます。まず、葛尾村と私を繋ぐ理由や目的の幅を緩めてくれます。「地域づくりに携わってみたい」という思いから始まったこともあり、「新たな理由や目的を設定するならば、私は何をしたいのか、葛尾村で何が求められているのかを考えなければならない」という呪縛に囚われていました。しかし、「語ること」を目的にすると、こうして村との関係についての悩みを綴ったり、そこから見える「関係人口」のあり方を考えたりしていること自体が目的になります。「語ること」では、今の自分から見えるものを思いのままに表現することが求められるため、自分に対して嘘のつきようがない目的なのです。また、これから先、「松本家」と私、葛尾村と私の関係が変わったとしても「語ること」は変わらず続けることができます。震災以後、ご家族が管理をされているものの、人が定住しているわけではない「松本家」には近いうちに何らかの変化があるでしょう。それは葛尾村についても同様で、全村避難指示解除から5年、以前の居住人口の4分の1程度になった村が良くも悪くもそのままであり続けられることはないと思います。そして、それは私についても同じです。葛尾村にいる動機が変化したように、私自身も時々刻々と変化していきます。したがって、「松本家」と私、葛尾村と私は両者ともが変化し続けることでしょう。それでも、変化した「松本家」や葛尾村を変化した私が「語ること」が目的になるため、私たちを繋ぐ手段に変わりはありません。あるとするならば、私が「語ること」を諦めたときです。そういう意味で「語ること」によって繋がる関係は多くのことを許容してくれます。初めからこのようなことを意図して松本家計画を始めたわけではありませんが、結果として「語ること」で繋がる関係を私は手に入れることができました。
            </p>
            <p>
              　このように、「関係人口」として「松本家」にいるというのは、「松本家」の当事者であるということです。そして、「松本家」と私は「語ること」を通じて繋がっています。この先、私は「松本家」に住んでいるかもしれませんし、あるいは、あまり訪れられなくなっているかもしれません。第2回・第3回と続いていく松本家展の中で、「松本家」と私の関係は変わってゆくでしょう。それでも「松本家」を「語ること」を諦めない限り、私は「松本家」の当事者であり、葛尾村の「関係人口」です。自分で「関係人口」と使うのもおかしいので、「友達」みたいに使える言葉が欲しいですが、なんと呼ぼうと、その関係は地域の内側にいるか外側にいるかなどという議論とは無縁です。葛尾村を応援したり支援したりというような関係でもありません。語り部として自分の足で「松本家」に立っていると、私はそう思います。
            </p>
            <div class="th-photo">
              <img src="{% static 'main/images/essay/hy5.jpg' %}" alt="">
            </div>
            <p class="return-index"><a href="{% url 'main:essay2' %}">目次に戻る</a></p>
          </div>
        </div>
      </div>

    <footer>
      <div class="wrapper">
        <p><small>&copy; 2021 松本家計画</small></p>
      </div>
    </footer>

  </body>
</html>
