{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>07 | 松本家通信2021夏季号</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style5.css' %}">
    <link rel="icon" type="image/png" href="{% static 'main/images/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <header class="page-header wrapper1">
      <h1 class="logo"><a href="{% url 'main:essay2' %}">松本家通信2021年<span class="summer">夏季</span>号<span class="logo-line">｜</span></a></h1>
    </header>

    <div id="info" class="big-bg">
      <div class="wrapper">

      </div><!--/.wrapper-->
    </div><!--/#home-->

    <div class="about-contents wrapper">
        <div class="block-contents">
          <h2 class="page-title">わからない（堀田滉樹）</h2>
          <div class="about-sentence1">
            <p>
              　わからないんだよなぁ。
            </p>
            <p>
              　そう思いながら、僕は雲の隙間から微かに顔を見せている月を見上げた。
            </p>
            <p>
              　深夜1時。住んでいるシェアハウスの屋上でパソコンとにらめっこ。昼間は気温が30℃を超える暑さだが、さすがにこの時間になれば25℃にまで下がり、夜風も心地よい。そんな中、昼間と変わらないのはセミたちの鳴き声。近所の公園の木々からだろうか、その鳴き声が響き渡る。彼らに睡眠という概念は存在するのだろうかと、ふと思う。
            </p>
            <p>
              　ところで僕はというと、松本家通信に寄稿するこの文章を考えていた。
            </p>
            <p>
              　テーマは何にしよう、何について書こう。パソコンとのにらめっこは続く。どうやら、他の仲間は自らが葛尾村や松本家に関わる理由や、村と自分の地元との比較などについて書くようだ。そこで僕も関わる理由について考えてみる。しかし一向にキーボードをたたく手が進まない。他だ、他のテーマにしよう。しばらく考える。かの有名な銅像のように。ただいまいち捗らない。ちらほら良さげなテーマは思いつくのだが、形にならない。なぜだろう。深夜だから？30分前にリビングに行ってシェアメイトの飲んでいる日本酒をもらったから？ちょっと寝不足だから？まぁそんなことは置いておいて。締め切りは3日後だ。締め切りに追われている作家や漫画家たちはいつもこんな感覚なのだろうか。
            </p>
            <p>
              　あまり星の見えない曇り空を見上げているとき、ふと思いついた。「わからない」をテーマにしよう。僕はいまいち葛尾村に関わる理由、松本家に関わる理由がわからない。無理やりでもいくつか出せと言われたらぽつぽつと出てくるのだろうが、自信を持ってこれだ！と言えるかと問われたらそうではないように思う。恐らく他の仲間は、自身が関わる理由などは明確で、それについて書いているのだろう。でも、自信を持ってこれだ！と言えないものをここに寄稿するのは嫌だった。正直に「わからない」ということを書こう。
            </p>
            <p>
              “記録する、物語る。”
            </p>
            <p>
　              松本家展のキーワードだ。この言葉を借りるなら、僕は僕の現在地をここに記録する。
            </p>
            <p>
　              そう決めた途端に手が動き出す。真っ白だった画面に1文字ずつ文字が積み重なっていく。僕はパソコンとのにらめっこに勝利したようだ。
            </p>
            <p>
              　なぜ関わっているのか。すぐに出てきたのは「人が良いから」ということだ。村に来て知り合った大人の方々、村民の方々、同世代の仲間たち、みんなにお世話になっている。いろんな話をしてくれ、ご飯をわけてくれ、優しく迎え入れてくれ、一緒に悩んでくれ、一緒に楽しんでくれる。でも、他の地域にもこのような人たちはたくさんいたように思う。僕が関わっている地域に限定されてしまうが、そうだった。もちろん、一人ひとりとの思い出やストーリーはあるが、それを除けば、みな代替可能だという感覚に近い。お世話になっている大人も、そこに住んでいる方々も、同世代の仲間たちも。すごく失礼なことを言っていると思う。でも、それが正直なところだ。「人」という部分を求めて関わっているということではなさそうだし、自信を持って「人が良い」からこの村に来ていますと言えない気がしたのだ。もちろん、関わる理由を構成する１要素にはなっているのだが。
            </p>
            <p>
              　次に考えられるのは、「村の風景や雰囲気が好きだ」ということだろうか。居住人口は400人あまりで、のんびりとした空気感が漂う。四方を山に囲まれた自然は圧巻だ。ふとした時に緑を見ると癒される。晴れた日の昼下がりに心地よい風を浴びながら縁側でする昼寝は最高だ。だが失礼を承知で書くと、これらも代替可能なように思う。山に囲まれ、自然が豊かな地域は数えきれないほどあり、そういう地域は大概のどかな雰囲気を持つ。この点でも、「村の風景や自然、雰囲気が好き」だからと胸を張って言えない気がする。
            </p>
            <p>
              　代替可能ということに関しては、葛尾村に限った話ではなく、多くの地域にも同じことが言えるのではないかと思っている。本当にその地域固有の何かを持っていて、かつそれが関わる理由になっている地域は果たして存在しているのだろうか。もやもやが積み重なる。
            </p>
            <p>
              　自分が関わる理由、動機がわからない（正確に言えば、その理由に自信を持てない？）原因に関して、普段から物事を深く考えることをしていないからなのかもしれない。どちらかというと行動重視で、頭であれやこれや考えるよりもだいたい体を先に動かしてきた。（深く考えることからの逃げでもあるのかもしれない。）葛尾村や松本家に関しても、動機を明確にしてからというよりも、「行動」が先んじていた。ただ、比較的自己肯定感の高い僕は、理由や動機がわからないことに関してあまりネガティブに捉えていない。何か行動する際には、「なぜやるのか」ハッキリしていた方が良いと思われがちだ。でも、わからなくたっていいじゃないか。そして、それらは無理に見つけるものでもないように思うし、自身の関わる理由に関して他者からとやかく言われる筋合いはないと思っている。その時々の「やりたい」という気持ちを大切にしたい。
            </p>
            <p>
              　深夜３時。気付けばセミたちの鳴き声は収まっていた。彼らに睡眠という概念が存在していたということなのか。
            </p>
            <p>
              　よし、僕も寝よう。
            </p>
            <p>
              　パソコンとのにらめっこは勝利したようだが、自分との、自分の頭とのにらめっこはまだまだ続きそうだ。
            </p>
            <div class="th-photo">
              <img src="{% static 'main/images/essay/hotta.jpg' %}" alt="">
            </div>
            <p class="return-index"><a href="{% url 'main:essay2' %}">目次に戻る</a></p>
          </div>
        </div>
      </div>

    <footer>
      <div class="wrapper">
        <p><small>&copy; 2021 松本家計画</small></p>
      </div>
    </footer>

  </body>
</html>
