{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>はじめに | 松本家通信2021夏季号</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style5.css' %}">
    <link rel="icon" type="image/png" href="{% static 'main/images/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <header class="page-header wrapper1">
      <h1 class="logo"><a href="{% url 'main:essay2' %}">松本家通信2021年<span class="summer">夏季</span>号<span class="logo-line">｜</span></a></h1>
    </header>

    <div class="about-contents wrapper">
        <div class="block-contents">
          <h2 class="page-title">はじめに（筏千丸・余田大輝）</h2>
          <div class="about-sentence1">
            <p class="sub-title0">
              松本家
            </p>
            <p>
              　松本家は福島県双葉郡葛尾村の北端に位置する一軒家である。その地で人間が生活を営んできた歴史は古く、家の近くには縄文遺跡が存在している。また、畑から出土する鉄くずは江戸時代のたたら製鉄によるものではないかと言われている。第二次世界大戦中、松本家一家が移住して以来、その地には代々松本家の人々が暮らしてきた。数十年の間に増築・改築が行われながら、松本家は現在まで続いている。
            </p>
            <p>
            　　2011年3月11日14時46分、葛尾村を含む東北地方一帯を東日本大震災が襲った。そして同日、福島第一原子力発電所事故が発生する。津波による電源喪失などが原因で、12日15時36分に一号機、14日11時01分には三号機が水素爆発を起こした。政府が避難指示を出している福島第一原発20km圏内に葛尾村は位置していなかったが、14日21時15分、村長が全村避難を決断した。松本家が位置する広谷地地区も例外ではなく、松本家一家は村外移住を余儀なくされた。4月22日、政府は葛尾村を計画的避難区域に指定し、葛尾村に誰も残ることはできなくなった。2016年6月12日、村北東の野行地区を除き、葛尾村の避難指示は解除された。 松本家の避難指示も解除されたが、2021年現在、葛尾村を離れた一家の人々はその家にはもう住んでいない。 そして、家の前を通る道はいまだ帰宅困難地域を隔てるバリケードで塞がれている。
            <p>
              　2021年、松本家に新たな訪問者が顔を出すようになった。 私たち、全国各地から葛尾村を訪れる若者である。松本家次男である松本隼也さんとともに、私たちは時折集まって松本家に泊まりにいく。村の中心からもさらに遠い松本家で、全国から集まった私たちは話し食べ飲み眠るのだ。その中で、松本家展は企画された。松本家展はさまざまな方法で記録した松本家を表現する展示会である。 文章で、写真で、模型で、ゲームで私たちは松本家を記録する。それらは事実の記録であることを超えて、作者の心情や理想が投影された個人的な記録である。いわば、松本家にまつわる物語だ。 それゆえ、ここから始まる一連の展示会や、それをも含めた松本家を舞台とした全ての活動（松本家計画）のテーマを「記録する、物語る。」とした。<br>
            </p>
            <p class="sub-title">
              語り部
            </p>
            <p>
              松本家計画のテーマを「記録する、物語る。」としたことには「語り部」という立場をめぐる一つのアイデアが関わっている。
            </p>
            <p>
              　20世紀のベルリンに生きた思想家ヴァルター・ベンヤミンは亡命先のパリで『物語作者（”The Storyteller”）』と題された一編を残した。その中でベンヤミンは物語の語り手の役割について記述している。いわく、物語の語り手は「事柄をいったん報告者の生活の中に埋没させ、そこから再び取りだしてくる  ［１］」ことによって語り伝える。先人から語り聞いた物語を一度自分の心の内に落とし込み、自分自身の経験として次世代にふたたび語り継ぐことが語り部の人生だとベンヤミンは書いた。彼が生きたのは語り部の語る物語が急速に忘れられていった時代だった。近代社会の発展は情報メディアの発達をもたらし、誰もが休憩時間には小説を読み毎朝新聞でニュースをチェックする時代が到来した。ベンヤミンは書き手の私的な内面が投影された長編小説と事実のみを速報する新聞ニュースの流行の陰で失われつつある豊かな物語世界を嘆き懐かしんだ。
            </p>
            <div class="benya">
              <img src="{% static 'main/images/essay/benya.jpg' %}" alt="benyamin">
            </div>
            <p>
              　古代文明の時代から物語はもれなく語り部によって語り継がれてきた。『イリアス』と『オデッセイア』の物語を伝えたホメロスは古代ギリシャの都市国家を渡り歩いてトロイア戦争の英雄伝説を口承した。ヘレニズム世界に限らず古代から中世にかけての世界各地で花開いた叙事詩は吟遊詩人と呼ばれる一団の人々によって節に乗せて語られた。日本においても歴史上語り部の活躍を見ることができる。平安末期に登場した琵琶法師は法衣をまとい琵琶をたずさえ人々に源平の戦の顛末と平氏一族の栄枯盛衰を謡（うた）い伝えた。江戸庶民の人気の的だった落語家や講談師は庶民生活の悲喜交々（ひきこもごも）や剣豪の英雄譚を寄席で聴かせた。
            </p>
            <div class="homerosu">
              <img src="{% static 'main/images/essay/homerosu.jpg' %}" alt="homerosu">
              <img src="{% static 'main/images/essay/biwa.jpg' %}" alt="biwa">
            </div>
            <p>
              　彼ら語り部たちの語る物語はしばしば改変され、時代を経るごとにさまざまな要素が付け加えられては削られていった。語り部の役目は客観的に事実を伝えることではない。見聞きした物語を自分の経験として自らの内に蓄え、いま一度語り聞かせることだ。それゆえ語り部は物語に自由に手を加えることができ、時として物語にはいくつものバリエーションが生まれた。古代の物語が現代までその大まかな変遷も含めて伝わっていることが社会の中で語り部が重要な位置を占めていたことを教えてくれる。彼らは聴衆の耳を楽しませることを生業としていたが、同時に重要な情報伝達者でもあった。語り部は遠く離れた戦場の様子を生き生きと伝え、圧政に苦しむ庶民に代わって涙を流した。時には語り部の語りがコミュニティの結束を強固にすることもあっただろう。普段気にかけることのない他者の存在に気づかせてくれることもあっただろう。語り部は決まって辻に立って語った。特定の誰かでなくパブリックな場で人々一般に向けて語りかけることを常とした。それが社会の目となり耳となる彼らの生き方だった。
            </p>
            <p>
              　私たちは松本家の語り部になろうとしている。どんなに些末な物語でも語られなければ存在したことすら忘れられてしまうのだから、物語ることそれ自体にきっと意味があるはずだ。新たな情報の摂取と忘却が繰り返される毎日にあって、語り部のメンタリティーが忘れたくないという感情を肯定してくれる。私たちは拙い語り口しか持たないとしても心の中に小さな語り部を住まわせることができる。この先、自分たちも松本家もどうなるか分からなくともその時々を記録し物語ることはできる。自らの内に蓄えた松本家の物語を自分たちの口から語るために、私たちは松本家展を開催することにした。かつての語り部たちが辻に立ったように、私たちにとって松本家を公に物語る場が松本家展だ。ベンヤミンは名も無い語り部たちにエールを送るようにこう書いている。「さまざまな物語を書きしるした人のなかには偉大なひとびともいるのだが、かれらの書きしるしたものは、数知れぬ名もない語り手たちの話からきわだっている点はほとんどない。 ［１］」さあ、心の中の小さな語り部の語る物語に耳を傾けよう。語り部の系譜は決して失われてはいない。
            </p>
            <p>
              ［１］W. ベンヤミン, ヴァルター・ベンヤミン著作集７文学の危機, 千代田区: 晶文社, 1969
            </p>
            <p class="sub-title">
              現在地
            </p>
            <p>
              　第一回松本家展のサブタイトルは「現在地」である。今回の展示会は、私たちが初めて松本家を公に物語る場だ。そこで、まずは松本家を取り巻く現在の状況を明らかにするとともに、始まったばかりの松本家計画の現在地を示すことにした。展示会で表現される松本家の現在は単なる客観的な事実の記録ではない。私たち一人一人から見える松本家の現在の姿である。それらには客観的な事実に即しているものもあれば、即していないものあるだろう。多くの人に共通しているものもあれば、ある人だけに見えているものもあるだろう。どのようなかたちをしていても、それらは等しく松本家にまつわる物語である。私たちは松本家の語り部として、自分の中に蓄えた物語を自分なりの方法で語るのだ。そうして重なり合った松本家の物語たちが松本家・松本家計画の現在地を示してくれるだろう。
            </p>
            <p>
              　松本家展、あるいは松本家を物語ることはこの先も続いていく。松本家も、私たちも、その関係も変化しながら、物語は続いていく。物語られる松本家はきっと過去にも未来にも広がっていくだろう。私たちが松本家を訪れるようになる以前の歴史が物語られるかもしれない。松本家一家の人々や私たちが思い描く松本家の未来が物語られるかもしれない。第一回松本家展で、私たちは松本家の現在地を描き出す。それは時間を越えて広がっていくであろう松本家の物語のはじまりだ。冊子を手に取ってくださった皆さんには、そのはじまりを是非ご覧いただきたい。
            </p>
            <p>
              　本誌の発行および第一回松本家展の開催にあたっては、多くの方々にお力添えいただいた。まず、ご家族の皆さまに快諾いただいたことで松本家計画は始まった。また、一般社団法人葛尾むらづくり公社には、展示会へのご後援、会場提供をはじめ様々な面からご支援いただいた。加えて、一般社団法人葛力創造舎のインターンシップなどのプログラムが、私たちが葛尾村に関わるきっかけになった。松本家計画を始める土台を作り上げてくださった方々、本誌の発行および展示会の開催にご支援いただいた方々に対し、心より感謝の意を表したい。
            </p>
            <p class="return-index"><a href="{% url 'main:essay2' %}">目次に戻る</a></p>
          </div>
        </div>
      </div>

    <footer>
      <div class="wrapper">
        <p><small>&copy; 2021 松本家計画</small></p>
      </div>
    </footer>

  </body>
</html>
