{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>写真作品 | 第1回松本家展</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style2.css' %}">
    <link rel="icon" type="image/png" href="{% static 'main/images/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <div class="ex-wrapper">

      <div class="slider-ctr">
        <figure class="slide display"><a href="{% url 'main:guide' %}">
          <img src="{% static 'main/images/white.jpg' %}" alt="White" />
          <figcaption>
              <div class="guide">作品一覧に戻る</div>
          </figcaption>
        </a></figure>
          <!--星-->
          <figure class="slide display"><img src="{% static 'main/images/photo/hp5.png' %}" alt="Photo" />
          </figure>
          <figure class="slide display"><img src="{% static 'main/images/photo/hp4.png' %}" alt="Photo" />
          </figure>
          <figure class="slide display"><img src="{% static 'main/images/photo/hp3.png' %}" alt="Photo" />
          </figure>
          <figure class="slide display"><img src="{% static 'main/images/photo/hp2.png' %}" alt="Photo" />
          </figure>
          <figure class="slide display"><img src="{% static 'main/images/photo/hp1.png' %}" alt="Photo" />
          </figure>
          <figure class="slide display"><img src="{% static 'main/images/photo/hp0.png' %}" alt="Photo" />
          </figure>
          <!--納田-->
          <figure class="slide display"><img src="{% static 'main/images/photo/np5.png' %}" alt="Photo" />
          </figure>
          <figure class="slide display"><img src="{% static 'main/images/photo/np4.png' %}" alt="Photo" />
          </figure>
          <figure class="slide display"><img src="{% static 'main/images/photo/np3.png' %}" alt="Photo" />
          </figure>
          <figure class="slide display"><img src="{% static 'main/images/photo/np2.png' %}" alt="Photo" />
          </figure>
          <figure class="slide display"><img src="{% static 'main/images/photo/np1.png' %}" alt="Photo" />
          </figure>
          <figure class="slide display"><img src="{% static 'main/images/photo/np0.png' %}" alt="Photo" />
          </figure>
          <!--星-->
          <figure class="slide display"><img src="{% static 'main/images/photo/sp6.png' %}" alt="Photo" />
          </figure>
          <figure class="slide display"><img src="{% static 'main/images/photo/sp5.png' %}" alt="Photo" />
          </figure>
          <figure class="slide display"><img src="{% static 'main/images/photo/sp4.png' %}" alt="Photo" />
          </figure>
          <figure class="slide display"><img src="{% static 'main/images/photo/sp3.png' %}" alt="Photo" />
          </figure>
          <figure class="slide display"><img src="{% static 'main/images/photo/sp2.png' %}" alt="Photo" />
          </figure>
          <figure class="slide display"><img src="{% static 'main/images/photo/sp1.png' %}" alt="Photo" />
          </figure>
          <figure class="slide"><img src="{% static 'main/images/photo/sp0.png' %}" alt="Photo" />
          </figure>
      </div>

      <div class="slider-control">
          <div class="control prev disabled">
              <div class="icon ion-chevron-left"><</div>
          </div>
          <div class="control next">
              <div class="icon ion-chevron-right">></div>
          </div>
      </div>

    </div>

  <script type="text/javascript" src="{% static 'main/js/js2.js' %}"></script>
  </body>
</html>
