{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>SECRET | 松本家通信</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bbs/css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'bbs/images/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header class="page-header wrapper1">
      <h1 class="logo"><a href="{% url 'main:index' %}">松本家通信<span class="logo-line">｜</span></a></h1>
      <ul class="navbar">
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'logout' %}">ログアウト</a></li>
        {% else %}
        <li class="nav-item"><a href="{% url 'login' %}">ログイン</a></li>
        <li class="nav-item"><a href="{% url 'signup' %}">会員登録</a></li>
        {% endif %}
      </ul>
    </header>

    <div id="secret" class="big-bg">
      <div class="wrapper">
        <h2 class="page-title">SECRET</h2>
      </div><!--/.wrapper-->
    </div><!--/#home-->

    <!--コンテンツ-->
    <div class="secret-contents">

      <!--カレンダー-->
      <!--.envに当該URLを代入-->
      <iframe class="calendar wrapper" src="{{ calendar_url }}" style="border:solid 1px #777" frameborder="0" scrolling="no"></iframe>      </div>

      <!--掲示板-->
      <div class="bbs  wrapper">
        <!--ナビゲーション-->
        <div class="bbs-nav">
          <ul class="bbs-nav-list">
            <li><a href="{% url 'bbs:secret' %}"><img class="bbs-nav-img" src="{% static 'bbs/images/li_home.png' %}">ホーム</a></li>
            <li><a href="{% url 'profile_edit:notice' user_profile.id %}"><img class="bbs-nav-img" src="{% static 'bbs/images/li_not.png' %}">通知設定</a></li>
            <!--.envに当該URLを代入-->
            <li><a href="{{ drive_url }}" target="_blank"><img class="bbs-nav-img" src="{% static 'bbs/images/li_drive.jpg' %}">Google Drive</a></li>
            <li><a href="{% url 'profile_edit:profile_edit' user_profile.id %}"><img class="bbs-nav-img" src="{% static 'bbs/images/li_pro.png' %}">プロフィール</a></li>
          </ul>
        </div>

        <!--ボード-->
        <div class="bbs-board">
          <div>
            <h2 class="bbs-board-title">掲示板（メイン）</h2>
            <div class="bbs-board-form">
              <div class="bbs-board-profile">
                <img src="{{ MEDIA_URL }}{{ user_profile.image }}" alt="profile">
              </div>
              <form method="post">
                {% csrf_token %}
                {{ form.description }}
                <input class="bbs-board-sub" type="submit" value="投稿する">
              </form>
            </div>
          </div>
        
        <!--投稿一覧-->
          <div class="bbs-post">
            {% for bbs in bbss %}
            <div class="bbs-post-structure">
              <div class="bbs-board-profile">
                <img src="{{ MEDIA_URL }}{{ bbs.created_by.image }}" alt="profile">
              </div>
  
              <div class="bbs-board-post"><a href="{% url 'bbs:post_detail' bbs.id %}">
                <div class="bbs-post-tag">
                  <p class="bbs-post-name">{{ bbs.created_by.penname }}</p>
                  <p class="bbs-post-time">{{ bbs.created_at }}</p>
                </div>
              
                <div>
                  <p class="bbs-post-sen">{{ bbs.description | linebreaksbr }}</p>
                  <div class="bbs-post-info">
                    <div class="bbs-post-comment">いいね数({{ bbs.like_cnt }})</div>
                    <div class="bbs-post-comment">コメント数({{ bbs.comment_cnt }})</div>
                  </div>
                </div>
              </a></div>
            </div>

            <hr>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>

    <footer>
      <div class="wrapper">
        <p><small>&copy; 2021 松本家計画</small></p>
      </div>
    </footer>

  </body>
</html>