{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>第1回松本家展 | 松本家通信</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style3.css' %}">
    <link rel="icon" type="image/png" href="{% static 'main/images/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>

  <body>
    <header class="page-header wrapper1">
      <h1 class="logo" style="text-align: center"><a href="{% url 'main:index' %}">松本家通信<span class="logo-line">｜</span></a></h1>
    </header>

    <div id="info" class="big-bg">
      <div class="wrapper">
        <h2 class="page-title">第1回松本家展</h2>
      </div><!--/.wrapper-->
    </div><!--/#home-->

    <div class="about-contents wrapper">
      <div class="what">
        <div class="block-contents">
          <div class="about-sentence1">
            <p>
              このたび、松本家計画が企画する最初の展示会として、『第１回松本家展　―現在地―』を開催いたします。
            </p>
            <p>
            　松本家は福島県双葉郡葛尾村の北端にある一軒家です。
              第二次世界大戦中に一家が移住して以来、代々松本家の人々が暮らしてきました。
              2011年福島第一原発事故により葛尾村全域が帰宅困難地域に指定されたことに伴い、松本家一家も村外移住を余儀なくされます。
              2021年現在、松本家の避難指示は解除されましたが葛尾村を離れた一家の人々はその家にはもう住んではいません。
              そして、家の前を通る道はいまだ帰宅困難地域を隔てるバリケードで塞がれています。
            </p>
            <p>
            　一方で、松本家に時折新たな訪問者が顔を出すようになりました。
              全国各地から葛尾村を訪れる若者たちです。
              松本家展では彼らがさまざまな方法で記録した松本家を展示します。
              文章で、写真で、模型で、ゲームで記録された松本家は事実の記録であることを超えて作者の心情や理想が投影された個人的な記録であり、松本家にまつわる物語のようだと言えます。
              それゆえ、ここから始まる一連の展示会や、それをも含めた松本家を舞台とした全ての活動（松本家計画）の主題を「記録する、物語る。」としました。
              特別有名でないことでも、必ずしもこれから発展していくのではないことでも、記録し、物語ることそれ自体に何かしらの意味があるのではないか、なにか救いになることもあるのではないかとの思いで松本家計画は進められています。
            </p>
            <p>
              　今回の展示会では、特に松本家の現在地に焦点を当てました。松本家を取り巻く現在の状況を明らかにするとともに、始まったばかりの松本家計画の現在地も示しています。
            </p>
            <p>
              　最後になりますが、表現の舞台・題材として松本家を快く提供してくださった松本さんご一家、会場を提供していただいた一般社団法人葛尾むらづくり公社に心から御礼申し上げます。
            </p>
          </div>
        </div>
      </div>

      <div class="explanation">
        <div class="ex-poster">
          <img src="{% static 'main/images/exhibition1/poster1.jpg' %}" alt="ポスター">
        </div>
        <div class="ex-sentence">
          <div class="info-block">
            <p class="ex-sentence2">開催期間</p>
            <p class="ex-sentence2">2021年8月27日(金)~29日(日)</p>
          </div>
          <div class="info-block">
            <p class="ex-sentence2">開館時間</p>
            <p class="ex-sentence2">9:00~17:00</p>
          </div>
          <div class="info-block">
            <p class="ex-sentence2">料　金　</p>
            <p class="ex-sentence2">無料</p>
          </div>
          <div class="info-block">
            <p class="ex-sentence2">会　場　</p>
            <div>
              <p class="ex-sentence2">復興交流館あぜりあ<br><span class="ex-sentence1">(福島県双葉郡葛尾村大字落合字落合20-1)</span></p>
              <p class="ex-sentence2">オンライン展示会場<br><span class="ex-sentence1">(開催期間中のみ下記ボタンよりアクセス可能になります)</span></p>
            </div>
          </div>
          <div class="info-block">
            <p class="ex-sentence2">主　催　</p>
            <p class="ex-sentence2">松本家計画</p>
          </div>
          <div class="info-block">
            <p class="ex-sentence2">後　援　</p>
            <p class="ex-sentence2">一般社団法人葛尾むらづくり公社</p>
          </div>
          <ul class="ex-button">
            <li class="ex-button1"><a href="{% url 'main:guide' %}">オンライン展示会場はこちら</li>
          </ul>

        </div>
      </div>
    </div>

    <footer>
      <div class="wrapper">
        <p><small>&copy; 2021 松本家計画</small></p>
      </div>
    </footer>

  </body>
</html>
