{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>WORK | 松本家通信</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'main/images/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <header class="page-header wrapper1">
      <h1 class="logo" style="text-align: center"><a href="{% url 'main:index' %}">松本家通信<span class="logo-line">｜</span></a></h1>
      <nav>
        <ul class="main-nav">
          <li><a href="{% url 'main:about' %}">ABOUT</a></li>
          <li><a href="{% url 'main:news' %}">NEWS</a></li>
          <li><a href="{% url 'main:work' %}">WORK</a></li>
          <li><a href="{% url 'main:essay' %}">ESSAY</a></li>
          <li><a href="{% url 'main:movie' %}">MOVIE</a></li>
          <li><a href="{% url 'main:contact' %}">CONTACT</a></li>
        </ul>
      </nav>
    </header>

    <div id="work" class="big-bg">
      <div class="wrapper">
        <h2 class="page-title">WORK</h2>
      </div><!--/.wrapper-->
    </div><!--/#home-->

    <div class="work-contents wrapper">
      <p class="news-explanation">松本家に関する調査や作品などをお伝えします。</p>
      <div class="news-contents">

        {% for work in works %}
        <hr class="news-hr">
        <div class="contents-block">
          <div class="news-sentence">
            <p class="news-name">{{ work.created_at|date:"Y年Mj日" }}　<br class="news-br">{{ work.title }}</p>
            <p>{{ work.text | linebreaksbr }}</p>
            {% if work.link_text %}
            リンク: <a href="/{{ work.link_url }}" class="url">　{{ work.link_text }}</a>
            {% endif %}
          </div>
          <img src="{{ MEDIA_URL }}{{ work.image }}" alt="image">
        </div>
        {% endfor %}

        {% for work in old_works %}
        <hr class="news-hr">
        <div class="contents-block">
          <div class="news-sentence">
            <p class="news-name">{{ work.year }}年{{ work.month }}月{{ work.date }}日　<br class="news-br">{{ work.title }}</p>
            <p>{{ work.text | linebreaksbr }}</p>
            {% if work.link_text %}
            リンク: <a href="/{{ work.link_url }}" class="url">　{{ work.link_text }}</a>
            {% endif %}
          </div>
          <img src="{{ MEDIA_URL }}{{ work.image }}" alt="image">
        </div>
        {% endfor %}
        
      </div>
    </div>

   <footer>
     <div class="wrapper">
       <p><small>&copy; 2021 松本家計画</small></p>
     </div>
   </footer>

  </body>
</html>
